name: Deploy to OCI with Terraform

on:
  push:
    branches:
      - Dev
  workflow_dispatch:

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      identity: ${{ steps.filter.outputs.identity }}
      network: ${{ steps.filter.outputs.network }}
      storage: ${{ steps.filter.outputs.storage }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Filter Paths
      id: filter
      uses: dorny/paths-filter@v3
      with:
        filters: |
          identity:
            - 'toronto/identity/**'
          network:
            - 'toronto/network/**'
          storage:
            - 'toronto/storage/**'

  deploy_identity:
    needs: detect_changes
    if: ${{ needs.detect_changes.outputs.identity == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.6

    - name: Set Up OCI Environment Variables
      run: |
        echo "OCI_TENANCY=${{ secrets.OCI_TENANCY }}" >> $GITHUB_ENV
        echo "OCI_USER=${{ secrets.OCI_USER }}" >> $GITHUB_ENV
        echo "OCI_REGION=${{ secrets.OCI_REGION }}" >> $GITHUB_ENV
        echo "OCI_FINGERPRINT=${{ secrets.OCI_FINGERPRINT }}" >> $GITHUB_ENV
        echo "${{ secrets.OCI_PRIVATE_KEY }}" > oci_api_key.pem
        chmod 600 oci_api_key.pem
        echo "OCI_PRIVATE_KEY_PATH=$PWD/oci_api_key.pem" >> $GITHUB_ENV

    - name: Terraform Init
      run: |
        cd toronto/identity
        terraform init 

    - name: Terraform Plan
      run: |
        cd toronto/identity
        terraform plan                         -var="tenancy_ocid=${{ secrets.OCI_TENANCY }}" \
                                               -var="user_ocid=${{ secrets.OCI_USER }}" \
                                               -var="region=${{ secrets.OCI_REGION }}" \
                                               -var="fingerprint=${{ secrets.OCI_FINGERPRINT }}" \
                                               -var="private_key_path=$OCI_PRIVATE_KEY_PATH" \

    - name: Terraform Apply
      run: |
        cd toronto/identity
        terraform apply                        -var="tenancy_ocid=${{ secrets.OCI_TENANCY }}" \
                                               -var="user_ocid=${{ secrets.OCI_USER }}" \
                                               -var="region=${{ secrets.OCI_REGION }}" \
                                               -var="fingerprint=${{ secrets.OCI_FINGERPRINT }}" \
                                               -var="private_key_path=$OCI_PRIVATE_KEY_PATH" \

  deploy_network:
    needs: [detect_changes, deploy_identity]
    if: ${{ needs.detect_changes.outputs.network == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.6

    - name: Set Up OCI Environment Variables
      run: |
        echo "OCI_TENANCY=${{ secrets.OCI_TENANCY }}" >> $GITHUB_ENV
        echo "OCI_USER=${{ secrets.OCI_USER }}" >> $GITHUB_ENV
        echo "OCI_REGION=${{ secrets.OCI_REGION }}" >> $GITHUB_ENV
        echo "OCI_FINGERPRINT=${{ secrets.OCI_FINGERPRINT }}" >> $GITHUB_ENV
        echo "${{ secrets.OCI_PRIVATE_KEY }}" > oci_api_key.pem
        chmod 600 oci_api_key.pem
        echo "OCI_PRIVATE_KEY_PATH=$PWD/oci_api_key.pem" >> $GITHUB_ENV

    - name: Terraform Init
      run: |
        cd toronto/network
        terraform init 

    - name: Terraform Plan
      run: |
        cd toronto/network
        terraform plan                         -var="tenancy_ocid=${{ secrets.OCI_TENANCY }}" \
                                               -var="user_ocid=${{ secrets.OCI_USER }}" \
                                               -var="region=${{ secrets.OCI_REGION }}" \
                                               -var="fingerprint=${{ secrets.OCI_FINGERPRINT }}" \
                                               -var="private_key_path=$OCI_PRIVATE_KEY_PATH" \

    - name: Terraform Apply
      run: |
        cd toronto/network
        terraform apply                        -var="tenancy_ocid=${{ secrets.OCI_TENANCY }}" \
                                               -var="user_ocid=${{ secrets.OCI_USER }}" \
                                               -var="region=${{ secrets.OCI_REGION }}" \
                                               -var="fingerprint=${{ secrets.OCI_FINGERPRINT }}" \
                                               -var="private_key_path=$OCI_PRIVATE_KEY_PATH" \

  deploy_storage:
    needs: [detect_changes, deploy_network]
    if: ${{ needs.detect_changes.outputs.storage == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.6

    - name: Set Up OCI Environment Variables
      run: |
        echo "OCI_TENANCY=${{ secrets.OCI_TENANCY }}" >> $GITHUB_ENV
        echo "OCI_USER=${{ secrets.OCI_USER }}" >> $GITHUB_ENV
        echo "OCI_REGION=${{ secrets.OCI_REGION }}" >> $GITHUB_ENV
        echo "OCI_FINGERPRINT=${{ secrets.OCI_FINGERPRINT }}" >> $GITHUB_ENV
        echo "${{ secrets.OCI_PRIVATE_KEY }}" > oci_api_key.pem
        chmod 600 oci_api_key.pem
        echo "OCI_PRIVATE_KEY_PATH=$PWD/oci_api_key.pem" >> $GITHUB_ENV

    - name: Terraform Init
      run: |
        cd toronto/storage
        terraform init 

    - name: Terraform Plan
      run: |
        cd toronto/storage
        terraform plan                         -var="tenancy_ocid=${{ secrets.OCI_TENANCY }}" \
                                               -var="user_ocid=${{ secrets.OCI_USER }}" \
                                               -var="region=${{ secrets.OCI_REGION }}" \
                                               -var="fingerprint=${{ secrets.OCI_FINGERPRINT }}" \
                                               -var="private_key_path=$OCI_PRIVATE_KEY_PATH" \

    - name: Terraform Apply
      run: |
        cd toronto/storage
        terraform apply                        -var="tenancy_ocid=${{ secrets.OCI_TENANCY }}" \
                                               -var="user_ocid=${{ secrets.OCI_USER }}" \
                                               -var="region=${{ secrets.OCI_REGION }}" \
                                               -var="fingerprint=${{ secrets.OCI_FINGERPRINT }}" \
                                               -var="private_key_path=$OCI_PRIVATE_KEY_PATH" \